@{
    ViewBag.Title = "个人信息";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/layout")
@Styles.Render("~/Content/bootstrap-treeview")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery-plug-in")
@Scripts.Render("~/bundles/layout")
@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/bootstrap-treeview")

<div style="margin:20px;">
    <ol class="breadcrumb current-position">
        当前所在：
        <li>个人信息</li>
    </ol>

    <hr class="hr-grey" />


        <div class="marco-npanel-primary">
            <div class="marco-nheading">个人信息
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span id="name">用户名:</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span id="email">邮箱:</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span id="islock">是否锁定:</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span id="roletype">角色类型:</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span id="loginTime">登录时间:</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span id="OnlineTime">登录时长:</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span id="loginCount">登陆次数:</span>
                    </div>
                </div>
            </div>
        </div>
</div>



<script type="text/javascript">
    Layout.init();
    
    $.ajax({
        url: '/User/UserDetail',
        type: 'get',
        success: function (data) {
            console.log(data);
            $('#name').after(data.用户名);
            $('#email').after(data.邮箱);
            $('#islock').after(data.是否锁定);
            $('#roletype').after(data.角色类型);

            // $("#UserMessages").empty();
            // var Html = "<tr><td> 用户名：</td><td> " + data.用户名 + " </td></tr><tr><td > 电子邮箱：</td><td>" + data.邮箱 + " </td></tr><tr><td > 是否锁定：</td><td>" + data.是否锁定 + " </td></tr><tr><td > 角色类型 ： </td><td>" + data.角色类型 + " </td></tr> ";
            // $(Html).appendTo($("#UserMessages"));
        },
        error: function () {
        }
    });

    $.ajax({
        url: '/MessageRecord/LastLoginTime',
        type: 'get',
        success: function (data) {
            var thisTime = new Date().Format("yyyy-MM-dd hh:mm");
            $("#loginTime").after(data);  //请求登录时间
            $("#OnlineTime").after(DiffLong(thisTime, data));  //利用函数计算出登录时长

            // setInterval(function(data){
            //     var thisTime = new Date().Format("yyyy/MM/dd hh:mm");
            //     $("#loginTime").empty();
            //     $("#loginTime").html(data);
            //     $("#OnlineTime").html( DiffLong(thisTime, data));
            // },60000);
        },
        error: function () {
        }
    });

    //请求登录的次数
    $.ajax({
        url: '/MessageRecord/LoginInCount',
        type: 'get',
        success: function (data) {
            $("#loginCount").after(data);
        },
        error: function () {
        }
    });

    function DiffLong(datestr1, datestr2) {
    var date1 = new Date(Date.parse(datestr1.replace(/-/g, "/")));//现在时间
    var date2 = new Date(Date.parse(datestr2.replace(/-/g, "/")));//登录时间
    var datetimeTemp;
    var isLater = true;

    if (date1.getTime() > date2.getTime()) {
        isLater = false;
        datetimeTemp = date1;
        date1 = date2;
        date2 = datetimeTemp;
    }
    difference = date2.getTime() - date1.getTime();
    thishours = Math.floor(difference / (1000 * 60 * 60));

    difference = difference - thishours * (1000 * 60 * 60);
    thisminutes = Math.floor(difference / (1000 * 60));

    var strRet = thishours + '时' + thisminutes + '分';//在线时长
    return strRet;
    }

    // function SetTime(time){
    //     if(time<10){
    //         return "0"+time;
    //     }else{
    //         return time;
    //     }
    // }
</script>