
@{
    ViewBag.Title = "删除离职申请";
}

@model BlueHrLib.Data.ResignRecord
@using BlueHrWeb.Helpers.View
@{
    bool canDeleted = MenuAuthHelper.CanShow("ResignRecord", "Deleted");
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/layout")
@Styles.Render("~/Content/bootstrap-treeview")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery-plug-in")
@Scripts.Render("~/bundles/layout")
@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/bootstrap-treeview")

<div id="resignrecord" style="margin:20px;">
    <ol class="breadcrumb current-position">
        当前所在：
        <li>离职管理</li>
        @*<li>@Html.ActionLink("离职管理", "Index")</li>*@
        <li>{{action}}</li>
    </ol>

    <hr class="hr-grey" />

    <input type="hidden" id="error_info" value="@ViewBag.ErrorMsg" />

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (Model != null)
        {
            @Html.HiddenFor(model => model.id)
        }

        <div class="marco-npanel-primary">
            <div class="marco-nheading">
                {{action}}

                <div class="pull-right">
                    <button type="submit" class="marco-btn-danger" style="margin-top:-2px; padding: 0 10px;">
                        <i class="fa fa-check-circle-o"></i>
                        <span>{{actionBtn}}</span>
                    </button>
                </div>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>工号:</span>
                        @Html.DisplayFor(model => model.staffNr)
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>离职原因:</span>
                        @Html.DisplayFor(model => model.resignTypeId)
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>离职日期:</span>
                        @Model.resignAt.ToString("yyyy-MM-dd")
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>申请人:</span>
                        @Html.DisplayFor(model => model.userName)
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>申请日期:</span>
                        @(@Model.createdAt.HasValue ? @Model.createdAt.Value.ToString("yyyy-MM-dd") : "")
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>审批人:</span>
                        @Html.DisplayFor(model => model.resignChecker)
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>审批状态:</span>
                        @Html.DisplayFor(model => model.approvalStatus)
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="show-group">
                        <span>审批日期:</span>
                        @(@Model.approvalAt.HasValue ? @Model.approvalAt.Value.ToString("yyyy-MM-dd") : "")
                    </div>
                </div>
            </div>
            <div class="marco-nbody row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="marco-textarea">
                        <span>离职理由</span>
                        @Html.TextAreaFor(model => model.resignReason)
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 approval-prp">
                    <div class="marco-textarea">
                        <span>审批备注</span>
                        @Html.TextAreaFor(model => model.approvalRemark)
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    Layout.init();
    $('textarea').attr('disabled', 'disabled');

    Layout.datepicker('.date-picker');

    Layout.SetTypeStaffNr(100, 'staffNrSelect', 'staffNr', true);
    //回调函数
    function Success(data) {
        if (!data.Success) {
            Layout.popMsg('popMsg-danger', data.Content);
            return false;
        }
        else {
            Layout.popMsg('popMsg-success', data.Content);
            setTimeout(function () {
                window.opener.location.href = window.opener.location.href;
                window.close();
            }, 1500);
        }
    }

    //控制textarea高度
    $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });

    $(window).resize(function () {
        $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    });

    if ($("#error_info").val() != "" && $("#error_info").val() != undefined) {
        Layout.popMsg("popMsg-danger", $("#error_info").val());
    };


</script>