@using MvcPaging
@using BlueHrWeb.Helpers.View
@model IPagedList<BlueHrLib.Data.Company>

@{
    ViewBag.Title = "校区信息";
}
@{
    bool canCreate = MenuAuthHelper.CanShow("Company", "Create");
    bool canEdit = MenuAuthHelper.CanShow("Company", "Edit");
    bool canDelete = MenuAuthHelper.CanShow("Company", "Delete");
    bool canImport = MenuAuthHelper.CanShow("Company", "Import");
}
@Styles.Render("~/Content/company")

<ol class="breadcrumb current-position" style="margin-top:10px;">
    当前所在：
    <li>组织架构</li>
    <li>
        <strong>学校架构列表</strong>
    </li>
</ol>

<hr class="hr-grey" />


<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        @if (canCreate)
        {
            <a href="/Company/Create" class="pull-right" style="margin-top: -10px;margin-right: 5px;">
                <button class="marco-btn-primary">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    <span>新建</span>
                </button>
            </a>
        }

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#inter" role="tab" data-toggle="tab">校区列表</a></li>
        </ul>

        <div class="tab-content pq-grid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="all_company_type">
                <!--<div id="all_company_type_grid_table"></div>-->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>地址</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                        <span class="badge pull-right marco-badge" title="学院">
                                            <a href="@Url.Action("Search", "Department", new { CompanyId = item.id})" id="todepartment">
                                                @item.departmentCound 学院
                                            </a>
                                        </span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remark)
                                    </td>
                                    <td>
                                        @if (canDelete)
                                        {
                                            <a href="/Company/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        }
                                        @if (canEdit)
                                        {
                                            <a href="/Company/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/company")

    <script type="text/javascript">
        Layout.init();
    </script>
